### Analysis of Heroes of Pymoli
* Analyze game's purchasing data and provide insights

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Calculate the total number of players and display in a data frame
player_count = len(purchase_data["SN"].unique())
player_count_df = pd.DataFrame({"Player Count": [player_count]})
player_count_df

   Player Count
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculate the number of unique items, average price, number of purchases, and total revenue
unique_items = len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].mean()
number_purchases = len(purchase_data["Purchase ID"].unique())
total_revenue = purchase_data["Price"].sum()

# Store to a new data frame
purchasing_analysis_df = pd.DataFrame({"Unique Items": [unique_items],"Average Price": \
                                       [average_price],"Number of Purchases": [number_purchases],"Total Revenue":\
                                       [total_revenue]})

# Format Average Price and Total Revenue as currency
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)

# Display data frame
purchasing_analysis_df

   Unique Items Average Price  Number of Purchases Total Revenue
0           179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Calculate the percentage and count of players by gender
male_count_df = purchase_data.loc[purchase_data["Gender"] == "Male"]
count_male = len(male_count_df["SN"].unique())
percent_male = count_male / player_count

female_count_df = purchase_data.loc[purchase_data["Gender"] == "Female"]
count_female = len(female_count_df["SN"].unique())
percent_female = count_female / player_count

other_nondisclosed_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
count_other_nondisclosed = len(other_nondisclosed_df["SN"].unique())
percent_other_nondisclosed = count_other_nondisclosed / player_count

# Store to a new data frame
gender_demographics_dict = {"Total Count": [count_male, count_female, count_other_nondisclosed],\
                            "Percentage of Players": [percent_male, percent_female, percent_other_nondisclosed],\
                            "": ["Male","Female","Other / Non-Disclosed"]}                  
gender_demographics_df = pd.DataFrame(gender_demographics_dict)
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{:.2%}".format)
gender_demographics_df = gender_demographics_df.set_index("")
# gender_group_df = gender_demographics_df.groupby(["Gender"])
gender_demographics_df

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Calculate the purcahse count, avg. purchase price, total purchase value, avg. purchase total per person by gender
male_count_df = purchase_data.loc[purchase_data["Gender"] == "Male"]
count_male_by_item = len(male_count_df["Purchase ID"].unique())
average_price_male = male_count_df["Price"].mean()
total_purchase_male = male_count_df["Price"].sum()
avg_purchase_male = total_purchase_male / count_male

female_count_df = purchase_data.loc[purchase_data["Gender"] == "Female"]
count_female_by_item = len(female_count_df["Purchase ID"].unique())
average_price_female = female_count_df["Price"].mean()
total_purchase_female = female_count_df["Price"].sum()
avg_purchase_female = total_purchase_female / count_female

other_nondisclosed_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
count_other_nondisclosed_by_item = len(other_nondisclosed_df["Purchase ID"].unique())
average_price_other_nondisclosed = other_nondisclosed_df["Price"].mean()
total_purchase_other_nondisclosed = other_nondisclosed_df["Price"].sum()
avg_purchase_other_nondisclosed = total_purchase_other_nondisclosed / count_other_nondisclosed

# Store to a new data frame
purch_analysis_gender_dict = {"Purchase Count": [count_male_by_item, count_female_by_item, count_other_nondisclosed_by_item],\
                            "Average Purchase Price": [average_price_male, average_price_female, average_price_other_nondisclosed],\
                            "Total Purchase Value": [total_purchase_male,total_purchase_female,total_purchase_other_nondisclosed],\
                            "Avg Total Purchase Per Person": [avg_purchase_male,avg_purchase_female,avg_purchase_other_nondisclosed],\
                            "Gender": ["Male","Female","Other / Non-Disclosed"]}
purch_analysis_gender_df = pd.DataFrame(purch_analysis_gender_dict)
purch_analysis_gender_df["Average Purchase Price"] = purch_analysis_gender_df["Average Purchase Price"].map("${:,.2f}".format)
purch_analysis_gender_df["Total Purchase Value"] = purch_analysis_gender_df["Total Purchase Value"].map("${:,.2f}".format)
purch_analysis_gender_df["Avg Total Purchase Per Person"] = purch_analysis_gender_df["Avg Total Purchase Per Person"].map("${:,.2f}".format)
purch_analysis_gender_df = purch_analysis_gender_df.set_index("Gender")
# purch_analysis_group_df = purch_analysis_gender_df.groupby(["Gender"])
# purch_analysis_group_df
purch_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create bins
bins = [0,9,14,19,24,29,34,39,100]

# Create group names
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Calculate count and percentages by age group
age_group = purchase_data[["SN","Age"]]
age_group["Age Group"] = pd.cut(age_group["Age"], bins, labels = group_names, include_lowest=True)
age_group_df = age_group.groupby("Age Group")
unique_sn = age_group_df["SN"].nunique()
percent_player = (unique_sn/player_count)
age_df = pd.DataFrame({"Total Count":unique_sn,"Percentage of Players":percent_player})
age_df["Percentage of Players"] = age_df["Percentage of Players"].map("{:.2%}".format)
age_df.index.name=None
age_df

/Users/katiehartmann/opt/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
# Create bins
bins = [0,9,14,19,24,29,34,39,100]

# Create group names
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Find purchase count, avg. purchase price, total purchase value and avg. total purchase per person
purch_age_group = purchase_data[["SN","Age","Price"]]
purch_age_group["Age Group"] = pd.cut(purch_age_group["Age"], bins, labels = group_names, include_lowest=True)
purch_age_group_df = purch_age_group.groupby("Age Group")
purch_age_count = purch_age_group_df["Price"].count()
avg_purch_price = purch_age_group_df["Price"].mean()
tot_purch_price = purch_age_group_df["Price"].sum()
avg_tot_person = tot_purch_price/unique_sn
purch_age_df = pd.DataFrame({"Purchase Count": purch_age_count, "Average Purchase Price": avg_purch_price,\
                             "Total Purchase Value": tot_purch_price, "Avg total Purchase per Person": avg_tot_person})
purch_age_df["Average Purchase Price"] = purch_age_df["Average Purchase Price"].map("${:,.2f}".format)
purch_age_df["Total Purchase Value"] = purch_age_df["Total Purchase Value"].map("${:,.2f}".format)
purch_age_df["Avg total Purchase per Person"] = purch_age_df["Avg total Purchase per Person"].map("${:,.2f}".format)
purch_age_df.index.name="Age Ranges"
purch_age_df

/Users/katiehartmann/opt/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame